form {
	margin-bottom: 20px; /* Aggiunge spazio sotto il primo form */
}

form + form {
	margin-top: 20px; /* Aggiunge spazio sopra al secondo form */
}

label {
	padding: 8px;
}

.priv-cont {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.privacy {
	text-align: center;
}

button {
	background-color: blue;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 15px;
	cursor: pointer;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	margin-top: 20px;
}

button:hover {
	background-color: blueviolet !important;
}

.donaz {
	display: flex;
	justify-content: center;
	font-size: 24px;
	font-weight: bold;
	color: #ff5733; /* Colore arancione */
	margin-top: 20px;
}
