.navbar {
	background-color: #f8f9fa;
	padding: 10px;
	border-bottom: 1px solid #ced4da;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-nav {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.nav-item {
	margin-right: 10px;
}

.nav-link {
	text-decoration: none;
	color: #343a40;
	font-weight: bold;
}

.burger-menu {
	width: 30px;
	height: 3px;
	background-color: #343a40;
	transition: transform 0.3s ease-in-out;
}

.burger-menu.open {
	transform: rotate(45deg);
}

.navbar-nav {
	display: none;
}

.navbar-nav.open {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 60px; /* Altezza della navbar */
	left: 0;
	width: 100%;
	background-color: #f8f9fa;
	border-top: 1px solid #ced4da;
}

.navbar-nav.open .nav-item {
	margin: 10px;
}

@media (min-width: 768px) {
	.navbar-nav {
		display: flex;
	}
	.navbar-toggle {
		display: none;
	}
}
